
body {
    margin: auto;
    max-width: 800px;
    width: 90%;
    font-family: system-ui, -apple-system;
    font-size: large;
    padding: 20px;
    background-color: #113e6e;
    color: white;
}

h1, h2 {
    text-align: center;
}

.link-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.link-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.link-card img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
}

.link-card img:hover {
    transform: scale(1.1);
}

.link-card p {
    margin-top: 10px;
    font-weight: bold;
}

.outline-button {
    padding: 15px 30px;
    border-radius: 12px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease;
    text-decoration: none;
}

.outline-button:hover {
    background: rgba(255,255,255,0.2);
    transform: scale(1.05);
}