
body {
    margin: auto;
    max-width: 800px;
    width: 90%;
    font-family: system-ui, -apple-system;
    font-size: large;
    padding: 20px;
    background-color: #007BFF;
    color: white;
}

h1, h2 {
    text-align: center;
}

.link-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.link-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.link-card img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
}

.link-card img:hover {
    transform: scale(1.1);
}

.link-card p {
    margin-top: 10px;
    font-weight: bold;
}

/* .img-style1 { 
    width: 150px;
    height: 170px;
}

.img-style2 {
    width: 170px;
    height: 170px;
}

.left {
    float: left;
    padding-left: 200px;
    padding-top: 50px;
                
}

.right {
    float: right;
    padding-right: 200px;
    padding-top: 50px;
    transform: translateY(-45px);
}
            
.caption1 {
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 219px;
    text-align: left;
    transform: translateY(45px);
}

.caption2 {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;
    padding-right: 188px;
                
}
            
.image-container {
    margin-bottom: 20px;
                
}

.caption3 {
    margin-top: 410px;
    text-align: left;
    font-weight: bold;
    transform: translateX(227px)
} */